.form-container {
  padding: 2.5rem 2rem;
}
.form-container h3 {
  margin: 30px 0 20px 0;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.form-group > div {
  flex: 1;
  min-width: 280px !important;
}
.form-group div div {
  flex: 1;
  min-width: fit-content;
}
label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #333;
}
input,
select,textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background: #f8fafc;
  transition: all 0.3s;
}
select:hover {
  cursor: pointer;
}
input:focus,
select:focus,textarea:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
}
.btn {
  background-color: #3b82f6;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #2563eb;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 20px;
  }
  .form-group {
    flex-direction: column;
  }
  .btn {
    font-size: 16px;
    padding: 12px;
  }
}
.holder{
  background: #fff;
  border-radius:5px; 	
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);	
  margin:100px auto;
  padding:30px 20px 20px;
  width:400px;
}

td{
  border-bottom:1px solid #f6f6f6;
  padding:5px 10px;
}

td:nth-child(2){
  text-align: right;
  width: 40px;
}

tr:last-child td{
  border:none;
  padding:30px 10px 10px;
  text-align: center;
}

input[type=checkbox] {
  cursor: pointer;
  height: 30px;
  margin:4px 0 0;
  position: absolute;
  opacity: 0;
  width: 30px;
  z-index: 2;
}

input[type=checkbox] + span {
  background: #e74c3c;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  display: inline-block;
  height: 30px;
  margin:4px 0 0;
  position:relative;
  width: 30px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before, input[type=checkbox] + span::after{
  background:#fff;
  content:'';
  display:block;
  position:absolute;
  width:4px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before{
  height:16px;
  left:13px;
  top:7px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

input[type=checkbox] + span::after{
  height:16px;
  right:13px;
  top:7px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

input[type=checkbox]:checked + span {
  background:#2ecc71;			    
}

input[type=checkbox]:checked + span::before{
  height: 9px;
  left: 9px;
  top: 13px;
  -webkit-transform:rotate(-47deg);
  transform:rotate(-47deg);
}

input[type=checkbox]:checked + span::after{
  height: 15px;
  right: 11px;
  top: 8px;
}

input[type=submit] {
  background-color: #2ecc71;
  border: 0;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  text-align: center;
  padding: 12px 20px 14px;
}